@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "cal-sans";
    src: url("./../../public/fonts/CalSans-SemiBold.ttf");
}

@font-face {
    font-family: "montsserat-extrabold";
    src: url("./../../public/fonts/Montserrat-ExtraBold.ttf");
}

@font-face {
    font-family: "montsserat-semibold";
    src: url("./../../public/fonts/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: "montsserat-medium";
    src: url("./../../public/fonts/Montserrat-Medium.ttf");
}

.calsans {
    font-family: "cal-sans";
}

body {
    font-family: "montsserat-medium";
}